<!doctype html>
<html>
<head>
<title>ApplicateAI COOL</title>
</head>
<body>
<form action='/addCatalog' method='post'>
<table border='0'>
<tr>
<td>SKU Name</td><td><input type='text' name='sku_name'></td>
</tr>
<tr>
<td>SKU Description</td><td><input type='text' name='sku_description'></td>
</tr>
<tr>
<td>Brand Name</td><td><input type='text' name='brand_name'></td>
</tr>
<tr>
<td>Brand Description</td><td><input type='text' name='brand_description'></td>
</tr>
<tr>
<td>Suppliers List</td>
<td>
<select name='id'>
<option th:each="supplier:${suppliers}" th:value="${supplier.getId()}" th:text=${supplier.getSupplier_name()}></option>
</select>
</td>
</tr>
<tr>
<td colspan='2' style='text-align:center;'>
<input type='submit' value='submit'>
</td>
</tr>
</table>
</form>
</body>
</html>